
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div *ngIf="showHome" class="center">
      <div class="dropzone" id="dropzone" (dragover)="dragOver($event)" (drop)="dropFile($event)">Drop file here to search</div>
      <div class="uploads"></div>
      <div class="upload-table">
          <table class="table">
              <thead>
              </thead>
              <tbody class="upload-name-style">
                  <tr *ngFor="let item of files; let i=index">
                      <td><strong>{{ item.relativePath }}</strong></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div style="font-size: 23px; font-family: Roboto sans-serif; color: #112233">Or take a picture from your webcam!</div>
      <br/>
      <br/>
      <button class="cameraIcon" (click)="hideView()"><i class="fas fa-camera"></i></button>
      <div class="row" style="height:80px; justify-content: center;" >
        <div class="column">
          <div onclick="window.location='/recent-searches';" class="column1" style="background-image: url('../../assets/images/pexels-photo-374074.jpeg')">
            <h2 style="text-align: center; vertical-align: middle;padding-top: 36%">Recientes</h2>
          </div>
        </div>
        <div class="column">
          <div onclick="window.location='/popular-searches';" class="column1" style="background-image: url('../../assets/images/populars_back.jpg')">
            <h2 style="text-align: center; vertical-align: middle;padding-top: 36%">Populares</h2>
          </div>
        </div>
        <div class="column" style="background-color:transparent;">
          <div onclick="window.location='/favorites';" class="column1" style="background-image: url('../../assets/images/favorites_back.jpg')">
            <h2 style="text-align: center; vertical-align: middle;padding-top: 36%">Favoritos</h2>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!showHome">
      <div *ngIf="showCamera" style="text-align:center">
        <h2>
          Take a snapshot of what you want to find
        </h2>
        <div>
          <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                  [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                  [videoOptions]="videoOptions"
                  (cameraSwitched)="cameraWasSwitched($event)"
                  (initError)="handleInitError($event)">
          </webcam>
          <br/>
          <button class="actionBtn" (click)="triggerSnapshot();" style="margin-top: 20px; margin: 25px;"><i class="fas fa-camera"></i></button>
          <button class="actionBtn2" (click)="toggleWebcam();" style="margin-top: 25px; border: none; margin: 25px;"><i class="fas fa-times"></i></button>
          <br/>
          <br/>
        </div>
      </div>
      <h4 *ngIf="errors.length > 0">Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
      </ul>
    </div>
    <div *ngIf="showResults">
      <div class="row">
        <div class="column" style="background-color: #232f3e; width: 100%; margin-bottom: 4%; margin-top: -3%;">
          <div *ngIf="favorite">
            <button class="btn" (click)="setFavorite($event)" style="position: absolute; margin: 2%; float: left;">
              <i class="fa fa-heart fa-2x checked" id="favorite"></i>
            </button>
          </div>
          <div *ngIf="!favorite">
            <button class="btn" (click)="setFavorite($event)" style="position: absolute; margin: 2%; float: left;">
              <i class="fa fa-heart fa-2x" id="nofavorite"></i>
            </button>
          </div>
          <div class="circular--landscape">
            <div *ngIf="!isWebImage" style="max-width: 18rem; height: 50rem;">
              <img class="cImage" style="max-width: 18rem; height: 20rem; width: 200px; margin-left: -17px;" [src]="webcamImage.imageAsDataUrl"/>
            </div>
            <div *ngIf="isWebImage" style="max-width: 18rem; height: 50rem;">
              <img class="wImage" style="max-width: 18rem; height: 20rem;
                width: 200px; margin-left: -17px;" [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,' + cmImage)" />
            </div>
          </div>
          <button class="cameraIcon" (click)="hideView()" style="color: white; background-color: #232f3e; margin: 10px; transform: scale(1) !important;">
            <i class="fas fa-camera"></i>
          </button>
          <button class="dropIcon" (click)="hideViewCamera()" style="color: white; background-color: #232f3e; margin: 10px; border: none">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="container">
          <div class="form-check-inline">
            <label class="form-check-label" for="check2">
              <input type="checkbox" class="form-check-input" id="amazon" value="amazon" (click)="applyFilters($event)">Amazon
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" id="ebay" value="ebay" (click)="applyFilters($event)">eBay
            </label>
          </div>
          <button class="btn btn-primary" (click)="getResults()">Submit</button>
      </div>
      <br/>
      <div *ngIf="success">
        <div *ngFor="let result of webLinks" [result]="result">
          <div class="card" style="max-width: 18rem; max-height:50rem; float: left; margin-bottom: 30px;">
            <img class="card-img-top" src="{{result.imageLink}}" style="max-width: 18rem; height: 20rem; border: 1px solid grey;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{result.shopLink}}</h5>
              <div style="margin-bottom: 10px;"><p class="card-text">{{result.title}}</p></div>
              <a href="{{result.webLink}}" class="btn btn-primary" target="_blank">Go</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!success" style="text-align: center"><h3>No results available to show</h3><i class="fa fa-frown-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
