* {
    box-sizing: border-box;
}

@media(min-width:768px) {

}
.dropzone{
  width: 950px;
  height: 200px;
  border: 2px dashed #ccc;
  color: #ccc;
  line-height: 200px;
  text-align: center;
}

.dropzone.dragover{
  border-color: #000;
  color: #000;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 280px;
    padding: 10px;
    height: 225px; /* Should be removed. Only for demonstration */
    margin-right: 3px;
    vertical-align: middle;
}
.column1{

  width: 108%;
  height: 110%;
  margin-top: -30px;
  margin-left: -180px;
  opacity: 0.3;
  filter: alpha(opacity=50);
  background-size: 281px 225px;
}
.column1:hover {
  opacity: 0.2;
  filter: alpha(opacity=50);
}
.column1:hover,.h2:hover{
  opacity: 0.8;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center{
  text-align: center;
  width: 90%;
  padding-left: 8%;
}

.recentBack{
    width: fit-content;
    max-width: 303px;
    background-size: contain;
    position: fixed;
    margin-left: -10px;
    height: 540px;
    margin-top: -10px;
    z-index: -1;
}

.fas.fa-camera {
  transform: scale(3);
  padding-top: 20px;
  text-align: center;
}

.cameraIcon {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
