
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div *ngIf="showHome" class="center">
      <div class="dropzone" id="dropzone" (dragover)="dragOver($event)" (drop)="dropFile($event)">Drop file here to search</div>
      <div class="uploads"></div>
      <div class="upload-table">
          <table class="table">
              <thead>
              </thead>
              <tbody class="upload-name-style">
                  <tr *ngFor="let item of files; let i=index">
                      <td><strong>{{ item.relativePath }}</strong></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="cameraIcon"><i class="fas fa-camera"></i></div>
      <div class="row" style="margin-left: 10%; height:80px;" >
        <div class="column">
          <div class="column1" style="background-image: url('../../assets/images/pexels-photo-374074.jpeg')">
            <h2 style="text-align: center; vertical-align: middle;padding-top: 36%">Recientes</h2>
          </div>
        </div>
        <div class="column">
          <div class="column1" style="background-image: url('../../assets/images/populars_back.jpg')">
            <h2 style="text-align: center; vertical-align: middle;padding-top: 36%">Populares</h2>
          </div>
        </div>
        <div class="column" style="background-color:transparent;">
          <div class="column1" style="background-image: url('../../assets/images/favorites_back.jpg')">
            <h2 style="text-align: center; vertical-align: middle;padding-top: 36%">Favoritos</h2>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!showHome">
      <div class="row">
        <div class="column" style="background-color: #112233; width: 100%; margin-bottom: 4%; margin-top: -3%; opacity: 0.4;">
          <div *ngIf="favorite">
            <button class="btn" (click)="setFavorite($event)" style="float: right; margin-right: 30px;">
              <i class="fa fa-star fa-2x checked" id="favorite"></i>
            </button>
          </div>
          <div *ngIf="!favorite">
            <button class="btn" (click)="setFavorite($event)" style="float: right; margin-right: 30px;">
              <i class="fa fa-star fa-2x" id="nofavorite"></i>
            </button>
          </div>
          <div class="circular--landscape"><img class="image" src="../assets/images/imageSearched_ex.jpg" /></div>
        </div>
      </div>
      <div class="container">
          <div class="form-check-inline">
            <label class="form-check-label" for="check2">
              <input type="checkbox" class="form-check-input" id="amazon" value="amazon" (click)="applyFilters($event)">Amazon
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" id="ebay" value="ebay" (click)="applyFilters($event)">eBay
            </label>
          </div>
          <button class="btn btn-primary" (click)="getResults()">Submit</button>
      </div>
      <br/>
        <div *ngFor="let result of webLinks" [result]="result">
          <div class="card" style="max-width: 18rem; max-height:50rem; float: left;">
            <img class="card-img-top" src="{{result.imageLink}}" style="max-width: 18rem; height: 20rem; border: 1px solid grey;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{result.shopLink}}</h5>
              <p class="card-text">{{result.title}}</p>
              <a href="{{result.webLink}}" class="btn btn-primary" target="_blank">Go</a>
            </div>
          </div>
        </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
