<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="row">
      <div class="column" style="background-color: #232f3e; width: 100%; margin-bottom: 4%; margin-top: -3%;">
        <div class="circular--landscape"><img class="image" src="../assets/images/popular-searches-icon.png" style="margin-left: -13px; transform: scale(0.9);"/></div>
      </div>
    </div>
    <div *ngIf="success">
      <div *ngFor="let result of webLinks">
        <div class="card" style="max-width: 18rem; max-height:50rem; float: left; margin-bottom: 30px;">
          <img class="card-img-top" id="image" src="{{result.image}}" style="max-width: 18rem; height: 20rem; border: 1px solid grey;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{result.title}}</h5>
            <a href="{{result.link}}" class="btn btn-primary" target="_blank">Go</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!success" style="text-align: center"><h3>No results available to show</h3><i class="fa fa-frown-o fa-2x" aria-hidden="true"></i></div>
  </body>
</html>
